<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Todo App with FastApi & Vuetify</title>
	<meta name="author" content="BadiDesign Mohammad Shekari">
	<link rel="stylesheet" href="/static/css/material-icons.min.css">
	<link rel="stylesheet" href="/static/css/vuetify.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app">
	<v-responsive>
		<v-app :theme="theme" scroll-behavior="hide collapse elevate">
			<drawer-panel></drawer-panel>
			<v-main class="bg-surface">
				<chat-list></chat-list>
			</v-main>
			<v-app-bar elevation="0" color="blue">
				<v-app-bar-nav-icon variant="text" @click.stop="toggleDrawer()"></v-app-bar-nav-icon>
				<v-toolbar-title>Telegram</v-toolbar-title>
				<v-spacer></v-spacer>
				<template v-if="$vuetify.display.mdAndUp">
					<v-btn icon="mdi-magnify" variant="text"></v-btn>

					<v-btn icon="mdi-filter" variant="text"></v-btn>
				</template>

				<v-btn icon="mdi-search" variant="text"></v-btn>
			</v-app-bar>
			<v-fab color="primary" app static size="large" icon="mdi mdi-create"></v-fab>
		</v-app>
	</v-responsive>
</div>

<script type="text/x-template" id="home-template">

</script>


<script src="/static/js/vue.global.js"></script>
<script src="/static/js/vuex.global.js"></script>
<script src="/static/js/vuetify.min.js"></script>
<script src="/static/vue/Store.js"></script>
<script setup>
    const {createApp, ref} = Vue
    const {createVuetify} = Vuetify
    const vuetify = createVuetify()
    const app = createApp({
        setup() {
            const group = ref(null)

            function toggleDrawer(th) {
                store.commit('setDrawer', !this.drawer)
            }

            return {
                group,
                toggleDrawer,
            }
        },
        computed: {
            theme() {
                return store.state.theme
            },
        },
    })
</script>
<script src="/static/vue/ChatList.js"></script>
<script src="/static/vue/MessageInput.js"></script>
<script src="/static/vue/Home.js"></script>
<script src="/static/vue/DrawerPanel.js"></script>
<script setup>
    app.use(vuetify).use(vuex).mount('#app')
</script>
</body>
</html>