<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Todo App with FastApi & Vuetify</title>
	<meta name="author" content="BadiDesign Mohammad Shekari">
	<link rel="stylesheet" href="/static/css/material-icons.min.css">
	<link rel="stylesheet" href="/static/css/vuetify.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app">
	<snackbar></snackbar>
	<router-view></router-view>
</div>

<script type="text/x-template" id="home-template">
	<v-responsive>
		<v-app :theme="theme" scroll-behavior="hide collapse elevate">
			<drawer-panel></drawer-panel>
			<v-main class="bg-surface">
				<chat-list></chat-list>
			</v-main>
			<v-app-bar elevation="0" color="blue">
				<v-app-bar-nav-icon variant="text" @click.stop="toggleDrawer()"></v-app-bar-nav-icon>
				<v-toolbar-title>Telegram</v-toolbar-title>
				<v-spacer></v-spacer>
				<template v-if="$vuetify.display.mdAndUp">
					<v-btn icon="mdi-magnify" variant="text"></v-btn>

					<v-btn icon="mdi-filter" variant="text"></v-btn>
				</template>

				<v-btn icon="mdi-search" variant="text"></v-btn>
			</v-app-bar>
			<v-fab color="primary" app static size="large" icon="mdi mdi-create"></v-fab>
		</v-app>
	</v-responsive>
</script>

<script type="text/x-template" id="login-template">
	<v-container fluid class="py-0 position-relative">
		<v-row class="ma-0 pa-0" align="center" justify="center" style="height: 95vh;">
			<v-col cols="12" md="4">
				<v-img src="/static/gif/login.gif" class="mb-5"></v-img>
				<v-card :variant="0" class="mb-5">
					<v-card-title class="text-h6 text-center font-weight-bold">Your Phone number</v-card-title>
					<v-card-subtitle class="text-center mb-5">
						Please confirm your phone number
					</v-card-subtitle>
					<v-card-text class="mb-5">
						<v-form ref="form" v-model="valid">
							<v-transition>
								<div :class="isTokenSent ? 'd-none' : ''">
									<v-text-field
											v-model="phone"
											label="Phone number"
											:rules="phoneRules"
											variant="outlined"
											required
									></v-text-field>
								</div>
								<div :class="isTokenSent ? '' : 'd-none'">
									<v-otp-input :length="5" v-model="code"></v-otp-input>
								</div>
							</v-transition>
						</v-form>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-fab color="primary"
			   @click="login"
			   location="bottom end"
			   class="ms-4 mb-4"
			   absolute
			   icon="mdi-keyboard-arrow-right">
		</v-fab>
	</v-container>
</script>


<script src="/static/js/vue.global.js"></script>
<script src="/static/js/vuex.global.js"></script>
<script src="/static/js/vuetify.min.js"></script>
<script src="/static/js/vue-router.js"></script>
<script src="/static/vue/Store.js"></script>
<script src="/static/vue/pages/login.js"></script>
<script setup>
    const {createApp, ref} = Vue
    const {createMemoryHistory, createRouter} = VueRouter

    const homeTemplate = {
        setup() {
            const group = ref(null)

            function toggleDrawer(th) {
                store.commit('setDrawer', !this.drawer)
            }

            return {
                group,
                toggleDrawer,
            }
        },
        computed: {
            theme() {
                return store.state.theme
            },
        },
        template: `#home-template`,
    }

    const routes = [
        {path: '/', component: homeTemplate},
        {path: '/login', component: loginComponent},
    ]

    const router = createRouter({
        history: createMemoryHistory(),
        routes,
    })

    const {createVuetify} = Vuetify
    const vuetify = createVuetify()
    const app = createApp()
</script>
<script src="/static/vue/component/snackbar.js"></script>
<script src="/static/vue/ChatList.js"></script>
<script src="/static/vue/MessageInput.js"></script>
<script src="/static/vue/Home.js"></script>
<script src="/static/vue/DrawerPanel.js"></script>
<script setup>
    app.use(router).use(vuetify).use(vuex).mount('#app')
    if (!localStorage.getItem('access_token')) {
        router.push('/login')
    }
</script>
</body>
</html>